<?xml version="1.0"?>
<launch>

	<arg name="hardware_interface" default="PositionJointInterface" />
    <arg name="robot_ns" default="iiwa" />
    <arg name="robot_ns2" default="iiwa2" />
    <arg name="model" default="iiwa14"/>
    <arg name="robot_state_frequency" default="100" />
    <arg name="joint_state_frequency" default="100" />
    <arg name="controllers" default="joint_state_controller PositionJointInterface_trajectory_controller"/>
    <arg name="state_publisher" default="robot_state_publisher"/>


    <!-- Loads the Gazebo world. -->
    <include file="$(find iiwa_gazebo)/launch/iiwa_world.launch">
    	<arg name="paused" value="false"/>
    	<arg name="hardware_interface" value="$(arg hardware_interface)"/>
    	<arg name="robot_name" value="$(arg robot_ns)"/>
    	<arg name="model" value="$(arg model)"/>
    </include>

    
    <group ns="$(arg robot_ns)">
    	<rosparam file="$(find iiwa_control)/config/iiwa_control.yaml" command="load"/>

	    <include file="$(find iiwa_description)/launch/$(arg model)_upload.launch">
	    	<arg name="hardware_interface" value="$(arg hardware_interface)"/>
	    	<!-- <arg name="robot_name" value="$(arg robot_ns)" /> -->
	    </include>
    	
    	<param name="/$(arg robot_ns)/joint_state_controller/publish_rate" value="$(arg joint_state_frequency)" />

	    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	          args="-urdf -model $(arg robot_ns) -x 0.0 -y 1.53 -z 0.165 -param robot_description"/>

	    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="$(arg controllers)" />

        <node name="$(arg state_publisher)" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
        	<!-- <remap from="joint_states" to="/$(arg robot_name)/joint_states" /> -->
        	<param name="publish_frequency" value="$(arg robot_state_frequency)" />
    	</node> 
 
    </group>

    
    <group ns="$(arg robot_ns2)">
	    <rosparam file="$(find iiwa_control)/config/iiwa_control.yaml" command="load"/>

	    <include file="$(find iiwa_description)/launch/$(arg model)_upload.launch">
	    	<arg name="hardware_interface" value="$(arg hardware_interface)"/>
	    	<!-- <arg name="robot_name" value="$(arg robot_ns2)" /> -->
	    </include>

    	<param name="/$(arg robot_ns2)/joint_state_controller/publish_rate" value="$(arg joint_state_frequency)" />

	    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	          args="-urdf -model $(arg robot_ns2) -x 0.0 -y -1.53 -z 0.165 -param robot_description"/>

	    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="$(arg controllers)" />

        <node name="$(arg state_publisher)" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
        	<!-- <remap from="joint_states" to="/$(arg robot_name)/joint_states" /> -->
        	<param name="publish_frequency" value="$(arg robot_state_frequency)" />
    	</node> 
    </group>

	
</launch>